:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea,
a {
  font-family: inherit;
  font-size: inherit;
}

body {
  font-size: 1.4rem;
}

#app {
  min-height: 100vh;
  min-width: 100vw;
}
