:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;

  --image-url: url('https://images.pexels.com/photos/17867905/pexels-photo-17867905/free-photo-of-vrouw-eten-staand-appels.jpeg?auto=compress&cs=tinysrgb&w=1920&h=2880&dpr=1');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea,
a {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
}

body {
  font-size: 1.4rem;
  background-color: #0c0c0c;
  background-image: var(--image-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#app {
  min-height: 100vh;
  min-width: 100vw;
}
